# Example BroControl node configuration.
#
# This example has a standalone node ready to go except for possibly changing
# the sniffing interface.

# This is a complete standalone configuration.  Most likely you will
# only need to change the interface.
#[bro]
#type=standalone
#host=localhost
#interface=eth0

## Below is an example clustered configuration. If you use this,
## remove the [bro] node above.

[manager]
type=manager
host=localhost

[proxy-1]
type=proxy
host=localhost

[worker-1]
type=worker
host=localhost
interface=eth0

[worker-2]
type=worker
host=localhost
interface=eth1

[worker-3]
type=worker
host=localhost
interface=eth2

[worker-4]
type=worker
host=localhost
interface=eth3

[worker-5]
type=worker
host=localhost
interface=eth4

[worker-6]
type=worker
host=localhost
interface=eth5
